

.rectangle-1, .rectangle-4{
width: 1330px;
height: 550px;

border-radius: 30px;
}




.rectangle-3 {
width: 663px;
height: 550px;
left: 711px;
top: 771px;

border-radius: 30px;
}


p{
position: absolute;
width: 1234px;
left: 65px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 190px;

color: #f36666;
}
